button {
    margin-right: 2rem;
}

#navbase {
    background-image: url('../assets/bgstylecl.jpg');
}

#sidenavbar {
    background-image: url('../assets/glxy.jpg');
}

#allcontentpagebackground {
    background-image: url('../assets/glxy.jpg');
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    object-fit: cover; 
}
#Whole-Application-Content {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 86.3vh;
    object-fit: cover; 
}

#searchsetup {
    position: relative;
    left: 340px;
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    button {
        margin-right: 0rem;
    }
    #navbase,#allcontentpagebackground{
      width:99vw;
    }
    #allcontentpagebackground,#Whole-Application-Content {
        height: 87vh;
    }

    
  }


/* @media (min-width:414px) and (max-width:620px) {
      
  } */

